<html lang="en">
    <%- include('./partials/header.ejs')%>
<body>
    <h1>404 ERROR PAGE NOT FOUND</h1>
    <img src="404_Error.jpg" alt="">
    <%- include('./partials/footer.ejs')%>
    
</body>
</html>